<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.label :order_date, style: "display: block" %>
    <%= collection_select(:item, :order_id, Order.all, :id, :created_at) %>
  </div>

  <div>
    <%= form.label :product_name, style: "display: block" %>
    <%= collection_select(:item, :product_id, Product.all, :id, :name) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
