<div id="<%= dom_id item %>">
  <p>
    <strong>Quantity:</strong>
    <%= item.quantity %>
  </p>

  <p>
    <strong>Item total amount:</strong>
    <%= item.item_total_amount %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= item.order_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= item.product_id %>
  </p>

</div>
