<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Supplier's Name</th>
    </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product%></td>
        <td><%= product.quantity%></td>
        <td><%= product.unit_price%></td>
        <td><%= link_to product.supplier.name, product.supplier%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <p></p>

<%= link_to "New product", new_product_path %>
